// Reset margins and padding
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

// Define your global styles below
// For example, you can set the font family, background color, etc.

body {
	font-family: Arial, sans-serif;
	background-color: #f0f0f0;
	overflow: hidden;
}
